body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(218, 218, 218);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: #262626;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 440px;
    padding: 20px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: #3d3d3d;
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;

}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #777777;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

button:hover{
    background-color: #989898;
}
button:active{
    background-color: #b5b5b5;
}

.keys-operator_btn{
    background-color: #e27100;
}

.keys-operator_btn:hover{
    background-color: #e28426;
}

.keys-operator_btn:active{
    background-color: #e29649;
}